<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="pull-left" href="<%= root_url %>">
        <img class="logo" alt="99kittens" src="<%= image_url("99kittens.png") %>">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapsed">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= "active" if current_page?(cats_url) %>"> <%= link_to "Kittens", cats_url %> </li>
        <li class="<%= "active" if current_page?(about_url) %>"> <%= link_to "About", about_url %> </li>
        <li class="<%= "active" if current_page?(contact_url) %>"> <%= link_to "Contact", contact_url %> </li>


        <% if current_user.nil? %>
          <li class="<%= "active" if current_page?(new_user_url) %>">
            <%= link_to "Register", new_user_url %>
          </li>
          <li>
            <a rel="nofollow" href="<%= dummy_login_session_url %>">(Demo Log in)</a>
          </li>
          <li class="<%= "active" if current_page?(new_session_url) %>">
            <a rel="nofollow" href="<%= new_session_url %>"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log in</a>
          </li>
        <% else %>
          <li>
            <a rel="nofollow" data-method="delete" href="<%= session_url %>"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sign out</a>
          </li>
        <% end %>
      </ul>
    </div>


  </div>
</nav>
