<div>
  <h1 class="title">99Kittens</h1>

  <h1><small>Rent a kitten for your lonely, lonely weekend</small></h1>
  <p>(We apologize for only having <%= @cats.size %> kittens currently available. <%= 99 - @cats.size %> kittens were recently lost in a tragic UPS accident.)</p>
  <p>(In other news, we are pleased to announce that FedEx is now the official carrier of 99Kittens!)</p>

  <% unless @cats.empty? %>
    <ul>
      <% @cats.each do |cat| %>
        <li><%= link_to cat.name, cat_url(cat) %></li>
      <% end %>
    </ul>
  <% end %>

  <% if current_user %>
    <h3><%= link_to "Rent out your own kitten", new_cat_url %></h3>
    <small><%= link_to "Display all current sessions", display_session_url %></small>
  <% else %>
    <h3><%= link_to "Rent out your own kitten", new_user_url %></h3>
  <% end %>
</div>
