<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag "application" , media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/header" %>
  <%= render "shared/errors" %>
  <div class="container">
    <%= yield %>
  </div>
  <div class="voffset5">
  </div>
</body>
</html>
